{% extends "layout.html" %}<!--  -->

{% block title %}<!--  -->
Change Password {% endblock %}<!--  -->

{% block main %}
<!-- Skjema for å endre passord -->
<form action="/passwordupdate" method="post">
  <div class="mb-3">
    <!-- Input-felt for nåværende passord -->
    <input
      class="form-control mx-auto w-auto"
      id="currentpassword"
      name="currentpassword"
      placeholder="Current Password"
      type="password"
    />
  </div>
  <br />
  <div class="mb-3">
    <!-- Input-felt for nytt passord -->
    <input
      class="form-control mx-auto w-auto"
      id="newpassword"
      name="newpassword"
      placeholder="New Password"
      type="password"
    />
  </div>
  <div class="mb-3">
    <!-- Input-felt for å bekrefte nytt passord -->
    <input
      class="form-control mx-auto w-auto"
      id="confirmation"
      name="confirmation"
      placeholder="New Password (again)"
      type="password"
    />
  </div>
  <!-- Knapp for å sende inn skjemaet -->
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}
