{% extends "layout.html" %}<!--  -->

{% block title %}<!--  -->
Sell<!--  -->
{% endblock %}<!--  -->

{% block main %}
<!-- Skjema for å selge aksjer -->
<form action="/sell" method="post">
  <div class="mb-3">
    <!-- Nedtrekksmeny for å velge aksjesymbol -->
    <select class="form-select mx-auto w-auto" name="symbol">
      <option disabled="" selected="">Symbol</option>
      <!-- Går gjennom brukerens portefølje for å vise tilgjengelige aksjer -->
      {% for share in user_portfolio %}
      <option value="{{ share['symbol'] }}">{{ share['symbol'] }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <!-- Input-felt for å angi antall aksjer som skal selges -->
    <input
      autocomplete="off"
      class="form-control mx-auto w-auto"
      min="0"
      name="shares"
      placeholder="Shares"
      type="number"
    />
  </div>
  <!-- Knapp for å sende inn skjemaet og gjennomføre salget -->
  <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}
